# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](Need to update this).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [2]:
# Show df_content to get an idea of the data (articles_community)
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

In [3]:
#Looking at overall shape of the dataset
df_content.shape

(1056, 5)

In [4]:
#Show df_content to get an idea of the data (user-item-interactions)
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [5]:
#Looking at overall shape of the dataset
df.shape

(45993, 3)

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [6]:
df.groupby('email').nunique()

                                          article_id  title  email
email
0000b6387a0366322d7fbfc6434af145adf7fed1          12     12      1
001055fc0bb67f71e8fa17002342b256a30254cd           4      4      1
00148e4911c7e04eeff8def7bbbdaf1c59c2c621           3      3      1
001a852ecbd6cc12ab77a785efa137b2646505fe           5      5      1
001fc95b90da5c3cb12c501d201a915e4f093290           2      2      1
0042719415c4fca7d30bd2d4e9d17c5fc570de13           2      2      1
00772abe2d0b269b2336fc27f0f4d7cb1d2b65d7           2      2      1
008ba1d5b4ebf54babf516a2d5aa43e184865da5          10     10      1
008ca24b82c41d513b3799d09ae276d37f92ce72           1      1      1
008dfc7a327b5186244caec48e0ab61610a0c660          10     10      1
009af4e0537378bf8e8caf0ad0e2994f954d822e           1      1      1
00bda305223d05f6df5d77de41abd2a0c7d895fe           4      4      1
00c2d5190e8c6b821b0e3848bf56f6e47e428994           3      3      1
00ced21f957bbcee5edf7b107b2bd05628b04774           4      4      1
00d9337ecd5f70fba1c4c7a78e21b3532e0112c4           1      1      1
00e524e4f13137a6fac54f9c71d7769c6507ecde           8      8      1
00f8341cbecd6af00ba8c78b3bb6ec49adf83248           2      2      1
00f946b14100f0605fa25089437ee9486378872c           1      1      1
01041260c97ab9221d923b0a2c525437f148d589           2      2      1
0108ce3220657a9a89a85bdec959b0f2976dd51c           3      3      1
011455e91a24c1fb815a4deac6b6eaf5ad16819e           9      9      1
01198c58d684d79c9026abe355cfb532cb524dc5           1      1      1
011ae4de07ffb332b0f51c155a35c23c80294962          29     29      1
011fcfb582be9534e9a275336f7e7c3717100381           4      4      1
0129dfcdb701b6e1d309934be6393004c6683a2d          12     12      1
01327bbc4fd7bfe8ad62e599453d2876b928e725           3      3      1
01455f0ab0a5a22a93d94ad35f6e78431aa90625           6      6      1
014dedab269f1453c647598c92a3fa37b39eed97           2      2      1
014e4fe6e6c5eb3fe5ca0b16c16fb4599df6375c           1      1      1
01560f88312a91894d254e6406c25df19f0ad5e8           9      9      1
...                                              ...    ...    ...
fe5396e3762c36767c9c915f7ed1731691d7e4b4           1      1      1
fe5480ff15f0ac51eeb2314a192351f168d7aad7           1      1      1
fe56a49b62752708ed2f6e30677c57881f7b78d1          10     10      1
fe5885b80e91be887510a0b6dd04e011178d6364           3      3      1
fe5f9d7528518e00b0a73c7a3994afc335496961           3      3      1
fe66aa534c7824eca663b84b99a437a98a9b026e           2      2      1
fe69c72c964a8346dbc7763309c4e07d818d360f           2      2      1
fe88d1f683f308b32fb3d7554f007cc55cc48df5           1      1      1
fe8c1cb974e39d8ea8c005044e927b3f0de8acd0           2      2      1
fe90d98b0287090fe8e653bafba6ed3eff19331e           1      1      1
fe9327be39fd457df70e83d3fc8cba9b8b3f95b1           1      1      1
feaea388105a4ccc48795b191bbf0c26a23b1356           4      4      1
fef0c6be3a2ed226e1fb8a811b0ee68a389f6f3c          11     11      1
fef28e45f7217026b2684d1783a2e18b061bdffb           3      3      1
fef3bc88def1aa787c99957ded7d5b2c0edc040e           3      3      1
ff27ffd93e21154b8a9cf2722f2cc0f75dc39eff           1      1      1
ff288722b76eba5209cdbf9158c6dfbf229b9129           1      1      1
ff452614b91f4c9bd965150b1a82e7bf18f59334           2      2      1
ff4d3e1c359cfbb73bcae07fa1eb62c45da2b161           3      3      1
ff55d0c0b2a4f56aae87c2a21afb7070ab34383d           1      1      1
ff6e82c763fe2443643e48a03e239eb635f406dc          13     13      1
ff7a0f59ba022102ad22981141a7182c4d8273c3           5      5      1
ff833869969184d86f870f98405e7988eccc2309           9      9      1
ff979e07f9d906a32ba35a9b75fd9585f6306dbc          15     15      1
ffaefa3a1bc2d074d9a14c9924d4e67a46c35410           1      1      1
ffc6cfa435937ca0df967b44e9178439d04e3537           1      1      1
ffc96f8fbb35aac4cb0029332b0fc78e7766bb5d           2      2      1
ffe3d0543c9046d35c2ee3724ea9d774dff98a32          27     27      1
fff9fc3ec67bd18ed57a34ed1e67410942c4cd81           7      7      1
fffb93a166547448a0ff0232558118d59395fecd           6      6      1

[5148 rows x 3 columns]

In [7]:
df.groupby('email').nunique()

                                          article_id  title  email
email
0000b6387a0366322d7fbfc6434af145adf7fed1          12     12      1
001055fc0bb67f71e8fa17002342b256a30254cd           4      4      1
00148e4911c7e04eeff8def7bbbdaf1c59c2c621           3      3      1
001a852ecbd6cc12ab77a785efa137b2646505fe           5      5      1
001fc95b90da5c3cb12c501d201a915e4f093290           2      2      1
0042719415c4fca7d30bd2d4e9d17c5fc570de13           2      2      1
00772abe2d0b269b2336fc27f0f4d7cb1d2b65d7           2      2      1
008ba1d5b4ebf54babf516a2d5aa43e184865da5          10     10      1
008ca24b82c41d513b3799d09ae276d37f92ce72           1      1      1
008dfc7a327b5186244caec48e0ab61610a0c660          10     10      1
009af4e0537378bf8e8caf0ad0e2994f954d822e           1      1      1
00bda305223d05f6df5d77de41abd2a0c7d895fe           4      4      1
00c2d5190e8c6b821b0e3848bf56f6e47e428994           3      3      1
00ced21f957bbcee5edf7b107b2bd05628b04774           4      4      1
00d9337ecd5f70fba1c4c7a78e21b3532e0112c4           1      1      1
00e524e4f13137a6fac54f9c71d7769c6507ecde           8      8      1
00f8341cbecd6af00ba8c78b3bb6ec49adf83248           2      2      1
00f946b14100f0605fa25089437ee9486378872c           1      1      1
01041260c97ab9221d923b0a2c525437f148d589           2      2      1
0108ce3220657a9a89a85bdec959b0f2976dd51c           3      3      1
011455e91a24c1fb815a4deac6b6eaf5ad16819e           9      9      1
01198c58d684d79c9026abe355cfb532cb524dc5           1      1      1
011ae4de07ffb332b0f51c155a35c23c80294962          29     29      1
011fcfb582be9534e9a275336f7e7c3717100381           4      4      1
0129dfcdb701b6e1d309934be6393004c6683a2d          12     12      1
01327bbc4fd7bfe8ad62e599453d2876b928e725           3      3      1
01455f0ab0a5a22a93d94ad35f6e78431aa90625           6      6      1
014dedab269f1453c647598c92a3fa37b39eed97           2      2      1
014e4fe6e6c5eb3fe5ca0b16c16fb4599df6375c           1      1      1
01560f88312a91894d254e6406c25df19f0ad5e8           9      9      1
...                                              ...    ...    ...
fe5396e3762c36767c9c915f7ed1731691d7e4b4           1      1      1
fe5480ff15f0ac51eeb2314a192351f168d7aad7           1      1      1
fe56a49b62752708ed2f6e30677c57881f7b78d1          10     10      1
fe5885b80e91be887510a0b6dd04e011178d6364           3      3      1
fe5f9d7528518e00b0a73c7a3994afc335496961           3      3      1
fe66aa534c7824eca663b84b99a437a98a9b026e           2      2      1
fe69c72c964a8346dbc7763309c4e07d818d360f           2      2      1
fe88d1f683f308b32fb3d7554f007cc55cc48df5           1      1      1
fe8c1cb974e39d8ea8c005044e927b3f0de8acd0           2      2      1
fe90d98b0287090fe8e653bafba6ed3eff19331e           1      1      1
fe9327be39fd457df70e83d3fc8cba9b8b3f95b1           1      1      1
feaea388105a4ccc48795b191bbf0c26a23b1356           4      4      1
fef0c6be3a2ed226e1fb8a811b0ee68a389f6f3c          11     11      1
fef28e45f7217026b2684d1783a2e18b061bdffb           3      3      1
fef3bc88def1aa787c99957ded7d5b2c0edc040e           3      3      1
ff27ffd93e21154b8a9cf2722f2cc0f75dc39eff           1      1      1
ff288722b76eba5209cdbf9158c6dfbf229b9129           1      1      1
ff452614b91f4c9bd965150b1a82e7bf18f59334           2      2      1
ff4d3e1c359cfbb73bcae07fa1eb62c45da2b161           3      3      1
ff55d0c0b2a4f56aae87c2a21afb7070ab34383d           1      1      1
ff6e82c763fe2443643e48a03e239eb635f406dc          13     13      1
ff7a0f59ba022102ad22981141a7182c4d8273c3           5      5      1
ff833869969184d86f870f98405e7988eccc2309           9      9      1
ff979e07f9d906a32ba35a9b75fd9585f6306dbc          15     15      1
ffaefa3a1bc2d074d9a14c9924d4e67a46c35410           1      1      1
ffc6cfa435937ca0df967b44e9178439d04e3537           1      1      1
ffc96f8fbb35aac4cb0029332b0fc78e7766bb5d           2      2      1
ffe3d0543c9046d35c2ee3724ea9d774dff98a32          27     27      1
fff9fc3ec67bd18ed57a34ed1e67410942c4cd81           7      7      1
fffb93a166547448a0ff0232558118d59395fecd           6      6      1

[5148 rows x 3 columns]

In [8]:
df.groupby('email')['article_id'].count().max()

364

In [9]:
# Fill in the median and maximum number of user_article interactios below

median_val = 3 # 50% of individuals interact with ____ number of articles or fewer.
max_views_by_user = 364 # The maximum number of user-article interactions by any 1 user is ______.

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [10]:
# check number of duplicate articles 
print(df_content.duplicated().sum())

0

In [11]:
# Remove any rows that have the same article_id - only keep the first
df_content.drop_duplicates(keep = 'first', inplace = True)

In [12]:
#Verify that the duplicates number has gone down
print(df_content.duplicated().sum())

0

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values)<br> 
**d.** The number of user-article interactions in the dataset.

In [13]:
#a. The number of unique articles that have an interaction with a user.
df.article_id.unique
df.groupby('article_id')['email'].nunique()

article_id
0.0        12
2.0        44
4.0        13
8.0        82
9.0        10
12.0       99
14.0       89
15.0       26
16.0       56
18.0       68
20.0      186
25.0       15
26.0       80
28.0       39
29.0       41
30.0       17
32.0       60
33.0      109
34.0       86
36.0       18
39.0       59
40.0       64
43.0      299
48.0       11
50.0       69
51.0      107
53.0       93
54.0       20
57.0      128
58.0       11
         ...
1412.0     19
1414.0      4
1415.0     10
1416.0     73
1418.0     41
1419.0      6
1420.0     94
1421.0      3
1422.0    105
1423.0    102
1424.0    115
1425.0     57
1426.0     96
1427.0    308
1428.0     91
1429.0    397
1430.0    237
1431.0    320
1432.0    232
1433.0     86
1434.0     36
1435.0     75
1436.0    282
1437.0    127
1439.0     43
1440.0      8
1441.0      6
1442.0      4
1443.0     12
1444.0      5
Name: email, Length: 714, dtype: int64

In [14]:
#b. The number of unique articles in the dataset (whether they have any interactions or not).
df_content.article_id.nunique()

1051

In [15]:
#c. The number of unique users in the dataset. (excluding null values)
df.email.nunique()

5148

In [16]:
#d. The number of user-article interactions in the dataset.
len(df)

45993

In [17]:
unique_articles = 714 # The number of unique articles that have at least one interaction
total_articles =  1051# The number of unique articles on the IBM platform
unique_users =  5148# The number of unique users I THINK I GOT THIS RIGHT
user_article_interactions = 45993 # The number of user-article interactions

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was find using other information that all of these null values likely belonged to a single user.

In [64]:
df.article_id.value_counts().head()

1429.0    937
1330.0    927
1431.0    671
1427.0    643
1364.0    627
Name: article_id, dtype: int64

In [65]:
most_viewed_article_id = "1429.0" # The most viewed article in the dataset as a string with one value following the decimal 
max_views = 937 # The most viewed article in the dataset was viewed how many times?

In [20]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [21]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [22]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    top_articles = []
    article_ids = get_top_article_ids(n, df)
    for x in range(n):
        temp = df.loc[df['article_id'] == article_ids[0][x]]
        top_articles.append(temp.title.iloc[0])

    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    top_articles = []
    temp_ID = df.article_id.value_counts().nlargest(n)
    temp_df = pd.DataFrame({'id':temp_ID.index, 'number':temp_ID.values})
    temp_df.drop(['number'], axis=1, inplace = True)
    for key, value in temp_df.iteritems():
        top_articles.append(value)
    
    return top_articles # Return the top article ids

In [23]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['use deep learning for image classification', 'insights from new york car accident reports', 'visualize car data with brunel', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'predicting churn with the spss random tree algorithm', 'healthcare python streaming application demo', 'finding optimal locations of new store using decision optimization', 'apache spark lab, part 1: basic concepts', 'analyze energy consumption in buildings', 'gosales transactions for logistic regression model']
[0    1429.0
1    1330.0
2    1431.0
3    1427.0
4    1364.0
5    1314.0
6    1293.0
7    1170.0
8    1162.0
9    1304.0
Name: id, dtype: float64]

In [24]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [25]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    # Fill in the function here
    user_item = df.groupby(['user_id', 'title'])['article_id'].max().unstack()
    user_item = user_item.fillna(0)
    print(user_item.head())
    user_item[user_item > 0] = 1
    print(user_item.sum(axis=1)[1])
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

title    0 to life-changing app: new apache systemml api on spark shell  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    0 to life-changing app: scala first steps and an interview with jakob odersky  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    10 data science podcasts you need to be listening to right now  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    10 data science, machine learning and ai podcasts you must listen to  \
user_id
1                                                      0.0
2                                                      0.0
3                                                    784.0
4                                                      0.0
5                                                      0.0

title    10 essential algorithms for machine learning engineers  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    10 must attend data science, ml and ai conferences in 2018  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    10 pieces of advice to beginner data scientists  \
user_id
1                                                    0.0
2                                                    0.0
3                                                    0.0
4                                                    0.0
5                                                    0.0

title    10 powerful features on watson data platform, no coding necessary  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    10 tips on using jupyter notebook  \
user_id
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0
5                                      0.0

title    1357    what i learned implementing a classifier from ...\nName: title, dtype: object  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title                    ...                   working with notebooks in dsx  \
user_id                  ...
1                        ...                                             0.0
2                        ...                                             0.0
3                        ...                                             0.0
4                        ...                                             0.0
5                        ...                                             0.0

title    working with on-premises databases — step by step  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    working with sqlite databases using python and pandas  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    world marriage data  \
user_id
1                        0.0
2                        0.0
3                        0.0
4                        0.0
5                        0.0

title    world tourism data by the world tourism organization  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    worldwide county and region - national accounts - gross national income 1948-2010  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    worldwide electricity demand and production 1990-2012  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    worldwide fuel oil consumption by household (in 1000 metric tons)  \
user_id
1                                                      0.0
2                                                      0.0
3                                                      0.0
4                                                      0.0
5                                                      0.0

title    xml2 1.0.0  you could be looking at it all wrong
user_id
1               0.0                                   0.0
2               0.0                                   0.0
3               0.0                                   0.0
4               0.0                                   0.0
5               0.0                                   0.0

[5 rows x 714 columns]
36.0

In [26]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [101]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''    
    # compute similarity of each user to the provided user
    similarity = user_item[user_item.index == user_id].dot(user_item.T)
    # sort by similarity
    # create list of just the ids
    most_similar_users = similarity.sort_values(user_id, axis=1, ascending=False).columns.tolist()
    # remove the own user's id
    most_similar_users.remove(user_id)
       
    return most_similar_users # return a list of the users in order from most to least similar

In [102]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933, 23, 3782, 203, 4459, 3870, 131, 4201, 46, 5041]
The 5 most similar users to user 3933 are: [1, 23, 3782, 203, 4459]
The 3 most similar users to user 46 are: [4201, 3782, 23]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [103]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    
    #print(article_ids)
    article_names = []
    article_ids = [float(i) for i in article_ids]
    
    for x in article_ids:
        article_names.append(df.loc[df['article_id'] == int(x), 'title'].iloc[0])
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    article_ids = []
    article_names = []
    
    current_user_list = user_item.iloc[user_id-1]
    for x in range(0,len(current_user_list)):
        if(current_user_list.values[x] > 0.0):
            article_names.append(current_user_list.index[x])
            article_ids.append(df.loc[df['title'] == current_user_list.index[x], 'article_id'].iloc[0])
    article_ids = [str(i) for i in article_ids]
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    #find articles that the user has seen already
    article_id, article_name = get_user_articles(user_id, user_item)
    users = find_similar_users(user_id,user_item)
    
    #Now to iterate through each user that is similar and perform recommendations
    recs = []
    for user in users:
        compare_id, compare_name = get_user_articles(user, user_item)
        for ids in compare_id:
            if ids not in article_id:
                recs.append(ids)
                if (len(recs) == 10):
                    return recs
    
    return recs # return your recommendations for this user_id

In [104]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['1448    i ranked every intro to data science course on...\nName: title, dtype: object',
 '5 practical use cases of social network analytics: going beyond facebook and twitter',
 '502    forgetting the past to learn the future: long ...\nName: title, dtype: object',
 '520    using notebooks with pixiedust for fast, flexi...\nName: title, dtype: object',
 '54174    detect potentially malfunctioning sensors in r...\nName: title, dtype: object',
 '56594    lifelong (machine) learning: how automation ca...\nName: title, dtype: object',
 'a dynamic duo – inside machine learning – medium',
 'a tensorflow regression model to predict house values',
 'accelerate your workflow with dsx',
 'airbnb data for analytics: mallorca reviews']

In [105]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [108]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    colName = ['neighbor_id', 'similarity', 'num_interactions']
    neighbors_df = pd.DataFrame(columns = colName)
    
    for i in user_item.index.values:
        if i == user_id:
            continue
        neighbor_id = i
        similarity = user_item[user_item.index == user_id].dot(user_item.loc[i].T).values[0]
        num_interactions = user_item.loc[i].values.sum()
        neighbors_df.loc[neighbor_id] = [neighbor_id, similarity, num_interactions]
        
    neighbors_df['similarity'] = neighbors_df['similarity'].astype('int')
    neighbors_df['neighbor_id'] = neighbors_df['neighbor_id'].astype('int')
    neighbors_df = neighbors_df.sort_values(by = ['similarity', 'neighbor_id'], ascending = [False, True])
    return neighbors_df # Return the dataframe specified in the doc_string


def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    top_df = get_top_sorted_users(user_id)
    uid_list = top_df['neighbor_id'].values.tolist()
    recs = []
    name_ids = []

    exp_article_ids = list(set(df[df['user_id'] == user_id]['article_id'].values.tolist()))

    for uid in uid_list:
        recs += df[df['user_id'] == uid]['article_id'].values.tolist()

    recs = list(set(recs))
    recs = [ x for x in recs if x not in exp_article_ids ]

    rec_all = df[df.article_id.isin(recs)][['article_id','title']].drop_duplicates().head(m)
    recs = rec_all['article_id'].values.tolist()
    rec_names = rec_all['title'].values.tolist()
    
    return recs, rec_names

In [109]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

The top 10 recommendations for user 20 are the following article ids:
[1430.0, 1314.0, 1429.0, 1338.0, 1276.0, 1432.0, 593.0, 1185.0, 993.0, 14.0]

The top 10 recommendations for user 20 are the following article names:
['using pixiedust for fast, flexible, and easier data analysis and experimentation', 'healthcare python streaming application demo', 'use deep learning for image classification', 'ml optimization using cognitive assistant', 'deploy your python model as a restful api', 'visualize data with the matplotlib library', 'upload files to ibm data science experience using the command line', 'classify tumors with machine learning', 'configuring the apache spark sql context', 'got zip code data? prep it for analytics. – ibm watson data lab – medium']

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [117]:
print(get_top_sorted_users(1).head())

      neighbor_id  similarity  num_interactions
3933         3933          35              35.0
23             23          17             135.0
3782         3782          17             135.0
203           203          15              96.0
4459         4459          15              96.0

In [118]:
print(get_top_sorted_users(131).head(10))

      neighbor_id  similarity  num_interactions
3870         3870          74              75.0
3782         3782          39             135.0
23             23          38             135.0
203           203          33              96.0
4459         4459          33              96.0
49             49          29             101.0
98             98          29              97.0
3697         3697          29             100.0
3764         3764          29              97.0
242           242          25              59.0

In [119]:
### Tests with a dictionary of results

user1_most_sim = 3933# Find the user that is most similar to user 1 
user131_10th_sim = 242# Find the 10th most similar user to user 131

In [120]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

This all looks good!  Nice job!

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Provide your response here.**

If given a new user, I would have it that it woud just recommend the first N amount of articles that have the most interaction with it.

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [123]:
df.article_id.value_counts().head(10)

1429.0    937
1330.0    927
1431.0    671
1427.0    643
1364.0    627
1314.0    614
1293.0    572
1170.0    565
1162.0    512
1304.0    483
Name: article_id, dtype: int64

In [126]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = ['1429.0','1330.0','1431.0','1427.0','1364.0','1314.0','1293.0','1170.0','1162.0','1304.0']# Your recommendations here

In [127]:
assert set(new_user_recs) == set(['1314.0','1429.0','1293.0','1427.0','1162.0','1364.0','1304.0','1170.0','1431.0','1330.0']), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

That's right!  Nice job!

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
def make_content_recs():
    '''
    INPUT:
    
    OUTPUT:
    
    '''

`2.` Now that you have put together your content-based recommendation system, use the cell below to write a summary explaining how your content based recommender works.  Do you see any possible improvements that could be made to your function?  Is there anything novel about your content based recommender?

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

**Write an explanation of your content based recommendation system here.**

`3.` Use your content-recommendation system to make recommendations for the below scenarios based on the comments.  Again no tests are provided here, because there isn't one right answer that could be used to find these content based recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
# make recommendations for a brand new user


# make a recommendations for a user who only has interacted with article id '1427.0'

### <a class="anchor" id="Matrix-Fact">Part V: Matrix Factorization</a>

In this part of the notebook, you will build use matrix factorization to make article recommendations to the users on the IBM Watson Studio platform.

`1.` You should have already created a **user_item** matrix above in **question 1** of **Part III** above.  This first question here will just require that you run the cells to get things set up for the rest of **Part V** of the notebook.

In [96]:
# Load the matrix here
user_item_matrix = pd.read_pickle('user_item_matrix.p')

In [97]:
# quick look at the matrix
user_item_matrix.head()

article_id,0.0,100.0,1000.0,1004.0,1006.0,1008.0,101.0,1014.0,1015.0,1016.0,...,977.0,98.0,981.0,984.0,985.0,986.0,990.0,993.0,996.0,997.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

`2.` In this situation, you can use Singular Value Decomposition from [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html) on the user-item matrix.  Use the cell to perfrom SVD, and explain why this is different than in the lesson.

In [ ]:
# Perform SVD on the User-Item Matrix Here

u, s, vt = # use the built in to get the three matrices

**Provide your response here.**

`3.` Now for the tricky part, how do we choose the number of latent features to use?  Running the below cell, you can see that as the number of latent features increases, we obtain a lower error rate on making predictions for the 1 and 0 values in the user-item matrix.  Run the cell below to get an idea of how the accuracy improves as we increase the number of latent features.

In [ ]:
num_latent_feats = np.arange(10,700+10,20)
sum_errs = []

for k in num_latent_feats:
    # restructure with k latent features
    s_new, u_new, vt_new = np.diag(s[:k]), u[:, :k], vt[:k, :]
    
    # take dot product
    user_item_est = np.around(np.dot(np.dot(u_new, s_new), vt_new))
    
    # compute error for each prediction to actual value
    diffs = np.subtract(user_item_matrix, user_item_est)
    
    # total errors and keep track of them
    err = np.sum(np.sum(np.abs(diffs)))
    sum_errs.append(err)
    
    
plt.plot(num_latent_feats, 1 - np.array(sum_errs)/df.shape[0]);
plt.xlabel('Number of Latent Features');
plt.ylabel('Accuracy');
plt.title('Accuracy vs. Number of Latent Features');

`4.` From the above, we can't really be sure how many features to use, because simply having a better way to predict the 1's and 0's of the matrix doesn't exactly give us an indication of if we are able to make good recommendations.  Instead, we might split our dataset into a training and test set of data, as shown in the cell below.  

Use the code from question 3 to understand the impact on accuracy of the training and test sets of data with different numbers of latent features. Using the split below: 

* How many users can we make predictions for in the test set?  
* How many users are we not able to make predictions for because of the cold start problem?
* How many articles can we make predictions for in the test set?  
* How many articles are we not able to make predictions for because of the cold start problem?

In [ ]:
df_train = df.head(40000)
df_test = df.tail(5993)

def create_test_and_train_user_item(df_train, df_test):
    '''
    INPUT:
    df_train - training dataframe
    df_test - test dataframe
    
    OUTPUT:
    user_item_train - a user-item matrix of the training dataframe 
                      (unique users for each row and unique articles for each column)
    user_item_test - a user-item matrix of the testing dataframe 
                    (unique users for each row and unique articles for each column)
    test_idx - all of the test user ids
    test_arts - all of the test article ids
    
    '''
    # Your code here
    
    return user_item_train, user_item_test, test_idx, test_arts

user_item_train, user_item_test, test_idx, test_arts = create_test_and_train_user_item(df_train, df_test)

In [ ]:
# Replace the values in the dictionary below
a = 662 
b = 574 
c = 20 
d = 0 


sol_4_dict = {
    'How many users can we make predictions for in the test set?': # letter here, 
    'How many users in the test set are we not able to make predictions for because of the cold start problem?': # letter here, 
    'How many articles can we make predictions for in the test set?': # letter here,
    'How many articles in the test set are we not able to make predictions for because of the cold start problem?': # letter here
}

t.sol_4_test(sol_4_dict)

`5.` Now use the **user_item_train** dataset from above to find **U**, **S**, and **V** transpose using SVD. Then find the subset of rows in the **user_item_test** dataset that you can predict using this matrix decomposition with different numbers of latent features to see how many features makes sense to keep based on the accuracy on the test data. This will require combining what was done in questions `2` - `4`.

Use the cells below to explore how well SVD works towards making predictions for recommendations on the test data.

In [ ]:
# fit SVD on the user_item_train matrix
u_train, s_train, vt_train = # fit svd similar to above then use the cells below

In [ ]:
# Use these cells to see how well you can use the training 
# decomposition to predict on test data

`6.` Use the cell below to comment on the results you found in the previous question. Given the circumstances of your results, discuss what you might do to determine if the recommendations you make with any of the above recommendation systems are an improvement to how users currently find articles?

**Your response here.**

<a id='conclusions'></a>
### Extras
Using your workbook, you could now save your recommendations for each user, develop a class to make new predictions and update your results, and make a flask app to deploy your results.  These tasks are beyond what is required for this project.  However, from what you learned in the lessons, you certainly capable of taking these tasks on to improve upon your work here!


## Conclusion

> Congratulations!  You have reached the end of the Recommendations with IBM project! 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Recommendations_with_IBM.ipynb'])